torch==2.6.0
torchvision==0.21.0
transformers==4.56.2
numpy==2.2.2
pillow==11.0.0
opencv-python-headless==4.11.0.86
trimesh==4.6.8
timm==1.0.15
easydict==1.13
ninja==1.11.1.4
plyfile==1.1
zstandard==0.23.0
einops==0.8.1
scipy==1.15.2
tqdm==4.67.1
setuptools==75.8.0
wheel==0.45.1
